footer {
  background: #458693;
  color: #ffffff;
  padding: 64px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-socials {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.footer-info {
  font-size: 1rem;
  font-weight: 700;
  margin: 4px 0;
}
